
.container{
  display:flex;
}

#one, #two, #three{
   justify-content:center;
   align-items:center;
   flex:5;
}

nav{
  padding:5px
}
nav a{
  color:black;
  margin:0 10px 0 10px;
  display:inline-block;
  width:20%;
  text-align:center;
}

.center{
  align-items:center;
  justify-content:center;
}

body{
  font-family:serif;
}

a{
  text-decoration:none;
}

nav a:hover{
  border-bottom:2px solid black;
}

#banner{
  align-items:center;
  justify-content:center;
  background-image: url("banner.jpg");
  color:white;
  height:545px;
  transition: filter 0.3s;
}

#banner:hover {
  filter:blur(3px);
}

h1{
  font-size:80px;
}

#info img:hover{
    transform:rotate(5deg);
}

#info img{
    border-radius:6px;
    height:200px;
}

#info{
  flex-direction: column;
}

#footer p{
   flex:1;
   text-align:center;
   color:rgb(218, 220, 243);
   background-color:rgb(122, 79, 150);
   height:30px
}
