
.container{
  display:flex;
}


nav{
  padding:5px
}

nav a{
  color:black;
  margin:0 10px 0 10px;
  display:inline-block;
  width:20%;
  text-align:center;
}

.center{
  align-items:center;
  justify-content:center;
}

body{
  font-family:"Lucida Sans";
}

a{
  text-decoration:none;
}

nav a:hover{
  border-bottom:2px solid white;
  background-color:rgb(89, 51, 138);
    color:white;
    transition:0.5s;
}

#banner{
  align-items:center;
  justify-content:center;
  background-image: url("banner.jpg");
  color:white;
  height:545px;
  transition:filter 0.3s;
}

#banner2{
  align-items:center;
  justify-content:center;
  background-image: url("banner2.jpg");
  color:rgb(218, 248, 220);
  height:545px;
  transition:1.0s;
  text-decoration:underline;
  font-family:"Segoe UI";
}

#banner2:hover{
  background-image: url("banner22.webp");
  background-size:cover;
  background-position:center;
}

#banner3{
  align-items:center;
  justify-content:center;
  background-image: url("banner3.avif");
  background-size:cover;
  background-position:center;
  height:545px;
}

#banner3 h1{
  background-color:white;
  color:black;
  padding:10px;
  border-radius:8px;
}

#banner3:hover{
  background-size:150%;
}

#banner:hover{
  filter:blur(1.5px);
}

h1{
  font-size:80px;
}

#info img:hover{
    transform:rotate(6deg);
}

#info img{
    border-radius:6px;
    height:200px;
}

#info{
  flex-direction: column;
}

#info p{
  font-size:19px;
}

#one, #three{
  font-size:21px;
  background-color:rgb(177, 71, 115);
  color:white;
  transition:0.5s;
  padding:15px;
}

#two p:hover{
  font-size:21px;
  background-color:rgb(236, 242, 173);
  color:rgb(27, 91, 131);
  transition:1.2s;
}

#four p:hover{
  font-size:21px;
  background-color:rgb(236, 242, 173);
  color:rgb(27, 91, 131);
  transition:1.2s;
}

.column{
  flex-direction:column;
  font-size:25px
}

.center{
  align-items:center;
  justify-content:center;
}

#tea p:hover{
  font-size:21px;
  background-color:rgb(21, 86, 43);
  color:rgb(174, 253, 223);
  transition:1.2s;
}

#art p:hover{
  font-size:21px;
  background-color:rgb(40, 51, 106);
  color:rgb(196, 224, 241);
  transition:1.2s;
}

#paper p:hover{
  font-size:21px;
  background-color:rgb(85, 38, 110);
  color:rgb(248, 242, 180);
  transition:1.2s;
}

#main img{
    border-radius:6px;
    height:200px;
}

#main img:hover{
    filter:blur(0px);
    filter: drop-shadow(9px 9px 11px gray);
}

#main img{
    border-radius:6px;
    height:200px;
    filter:blur(0.9px);
}

#art{
  text-align:right;
}

#sidebar{
   flex-direction:column;
   flex:1;
}

#sidebar:hover{
  transform: scale(0.9);
  transition:1.0s;
}

#main2, #sample, #sample2{
   flex:3;
   font-size:16px;
   font-family:"Franklin Gothic Medium";
}

ul:hover{
  color:rgb(19, 79, 161);
  font-size:17.5px;
  font-family:Cambria;
}

#footer p{
   flex:1;
   text-align:center;
   color:rgb(218, 220, 243);
   background-color:rgb(101, 62, 128);
   height:37px
}

#footer2 p{
   flex:1;
   text-align:center;
   color:rgb(152, 246, 207);
   background-color:rgb(20, 144, 182);
   height:37px
}


#footer3 p{
   flex:1;
   text-align:center;
   color:rgb(232, 238, 206);
   background-color:rgb(28, 90, 109);
   height:37px
}
