
.container{
  display:flex;
}

nav{
  padding:5px
}

nav a{
  color:black;
  margin:0 10px 0 10px;
  display:inline-block;
  width:20%;
  text-align:center;
}

.center{
  align-items:center;
  justify-content:center;
}

body{
  font-family:"Lucida Sans";
}

a{
  text-decoration:none;
}

nav a:hover{
  border-bottom:2px solid white;
  background-color:rgb(89, 51, 138);
    color:white;
    transition:0.5s;
}

#banner{
  align-items:center;
  justify-content:center;
  background-image: url("banner.jpg");
  color:white;
  height:545px;
  transition: filter 0.3s;
}

#banner2{
  align-items:center;
  justify-content:center;
  background-image: url("banner2.jpg");
  color:white;
  height:545px;
}

#banner:hover {
  filter:blur(3px);
}

h1{
  font-size:80px;
}

#info img:hover{
    transform:rotate(6deg);
}

#info img{
    border-radius:6px;
    height:200px;
}

#info{
  flex-direction: column;
}

#info p{
  font-size:19px;
}

#info p:hover{
  font-size:21px;
  background-color:rgb(177, 71, 115);
  color:white;
  transition:0.5s;
}

.column{
  flex-direction:column;
  font-size:25px
}

.center{
  align-items:center;
  justify-content:center;
}

#main p:hover{
  font-size:21px;
  background-color:rgb(13, 112, 46);
  color:rgb(174, 253, 223);
  transition:1.2s;
}

#main img{
    border-radius:6px;
    height:200px;
}

#main img:hover{
    filter:blur(0px);
    filter: drop-shadow(9px 9px 11px gray);
}

#main img{
    border-radius:6px;
    height:200px;
    filter:blur(2px);
}

#footer p{
   flex:1;
   text-align:center;
   color:rgb(218, 220, 243);
   background-color:rgb(101, 62, 128);
   height:37px
}
