
.container{
  display:flex;
}

nav{
  padding:5px
}
nav a{
  color:black;
  margin:0 10px 0 10px;
  display:inline-block;
  width:20%;
  text-align:center;
}

.center{
  align-items:center;
  justify-content:center;
}

body{
  font-family:serif;
}

#main{
  justify-content:left;
  align-items:left;
   flex:3;
   flex-direction: row;
}

a{
  text-decoration:none;
}

nav a:hover{
  border-bottom:2px solid black;
}

#banner{
  background-color:rgb(218, 120, 157);
  color:black;
  height:58px
}

h1{
  font-size:50px
}

.main{
  font-size:24px;
  color:blue;
}

#footer p{
   flex:1;
   text-align:center;
   color:rgb(218, 220, 243);
   background-color:rgb(122, 79, 150);
   height:30px
}
